@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@layer base {
  :focus-visible {
    @apply outline-none ring-2 ring-accent ring-offset-2 ring-offset-nord5;
  }

  .dark :focus-visible {
    @apply ring-accentDark ring-offset-nord0;
  }

  body {
    @apply bg-nord5 text-nord1 dark:bg-nord0 dark:text-nord6;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
